fastapi==0.110.0
uvicorn[standard]
gunicorn
pydantic==2.5
pydantic[email]
pydantic-settings
jinja2==3.1.2
itsdangerous
sqlalchemy
psycopg2-binary
sqlmodel
uuid7
asyncpg

httpx
pytest
pytest-cov
pytest-asyncio
pytest-timeout